.git
.env
.env.*
!.env.example

**/node_modules
**/dist
**/.nuxt
**/.output
**/.vite
**/coverage

backend/uploads/**
!backend/uploads/.gitkeep
backend/backups/**
!backend/backups/.gitkeep

*.log
*.sql
*.dump
*.md
docs

frontend/test
backend/tests
**/*.test.ts
**/*.spec.ts
